<p>les1 works!</p>

<p style="color: red">check DevTools > console. import chain from `lodash-es/chain` is broken</p>

<p style="color: red">experienceTopics</p>
<ng-container *ngFor="let topic of experienceTopics">
    <p>{{topic.theme}} {{topic.themeIcon}} {{topic.topic}}</p>
</ng-container>

<p style="color: red">topicGrouping</p>
<ng-container *ngFor="let group of topicGrouping">
    <div>
        <p>{{group.theme}} {{group.themeIcon}}</p>
        <ng-container *ngFor="let topic of group.topics">
            <p>&nbsp; {{topic.theme}} {{topic.themeIcon}} {{topic.topic}}</p>
        </ng-container>
    </div>
</ng-container>